* {
    text-align: right;
    color: white;
}

body {
    overflow: hidden

}

@font-face {
    font-family: 'fb'; /*a name to be used later*/
    src: url('./Fonts/fbcoherentisansenheb-mediumwebfont.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'fb-low'; /*a name to be used later*/
    src: url('./Fonts/fbcoherentisansenheb-regularwebfont.ttf'); /*URL to font*/
}

body {
    background-image: url('./assets/background-apartment.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h2 {
    margin-bottom: 0;
    font-family: 'fb';
    font-size: 48px;
    margin-top: 0.2rem;
}
p {
    margin-top: 6;
    font-family: 'fb-low';
    font-size: 23px;
    text-align: right;
}
.desc-desc {
    width: 100%;
    display: flex;
    justify-content: end;
}
.desc {
    width: 30rem;
}

.container {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.main {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.holder {
    background-color: #121212a1;
    width: 100%;
    padding: 2rem;
    margin: 0;
    border-radius: 12px;
 
}

.bar {
    background-color:rgba(240, 248, 255, 0.247);
    width: 22rem;
    text-align: right;
    padding: 6;
    border: 1px solid white;
    border-radius: 100px;
    align-content: center;
}

.holder-bar {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    align-content: center;
}

li {
    font-family: 'fb-low';
}

ul {
    list-style: none;
  }
  
  ul li::after {
    content: '';
  }

ul .aretz::after {
    content:  ' 🏠';
}

ul .clean::after {
    content:  ' 💪';
}
ul .fast::after {
    content:  ' 🕐';
}

ul .eff::after {
    content:  ' 👌';
}

.offer {
    background-color: rgba(255, 255, 255, 0.116);
    width: 30rem;
    text-align: right;
    padding: 3;
    border: 1px solid white;
    border-radius: 4px;
}

.offer-holder {
    display: flex;
    justify-content: end;
}



.call-us {
    margin-top: 1rem;
    display: flex;
    justify-content: end;
    height: 9rem;
}

.call {
    background-color: #c6f3f531;
    width: 29rem;
    border-radius: 4px;
    padding: 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.inputs {
display: flex;
justify-content: center;
min-width: 25;
}

input {
    margin: 2;
    border: none;
    font-family: 'fb-low';
    color: #121212;
    width: 14rem;
    height: 30px;
    border-radius: 2px;
}

.shager {
    margin-top: 0.3rem;
    background-color: #3649F9;
    text-align: center;
    font-family: 'fb';
    border-radius: 4px;
    width: 28.6rem;
    height: 27px;
    cursor: pointer;
    border: none;
}

.shager:hover {
    background-color: #3c4bd167;

}

.inter {
    font-size: 22px;
    color: rgb(255, 255, 255);
}

.back {
    font-size: 13px;
}

.holder-cta {
    margin-top: 1rem;
    display: flex;
    justify-content: end;
    align-items: center;
    align-content: center;
    
}

.cta {
    display: flex;
    border-radius: 5px;
    flex-direction: column;
}

.whatsapp {
    background-color: #00db71;
    font-family: 'fb-low';
    text-align: center;
    font-family: 'fb';
    border-radius: 4px;
    width: 28.6rem;
    height: 27px;
    cursor: pointer;
    border: none;
    margin: 2;

}


.fa {
font-size: 15px;
}

.contact {
    margin: 0;
}

.text p {
    text-align: center;
}

.call-me {
    background-color: orange;
}





@media only screen and (max-width: 991px){

    .container {
        height: 100%;
    }

    .main {
        justify-content: center; 
    }

.holder {
    
    background-color: #121212a1;
    max-width: 20rem;
    padding: 2rem;
    margin: 0;
    border-radius: 12px;
    max-height: 230rem;
}

.call {
    max-width: 20rem;
}

input {
    width: 10rem;
}

.shager {
    width: 20rem;
}

.bar  p{
    width: 120rem;
    font-size: 11px;
}

.desc {
    font-size: 16px;
}


.call-us {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    height: 9rem;
}
.holder-bar {
    justify-content: center;
}

.bar {
    text-align: center;
    width: 20rem;
    padding: 6 ;
    font-size: 15px;
}

.container {
    padding: 20;
}

li {
    font-size: 14px;
}

.title {
    font-size: 43px;
}

.whatsapp {
    max-width: 20rem;
}
.cta {
    margin-bottom: 1.3rem;
}

.text p {
text-align: center;
}
.text {
    margin-top: 20;
}
}


.cards {
    height: 100%;
}

.card {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.icon {
    text-align: center;
}